.l1{
    background-color: #F9EEE3;
    margin-left: 10vw;
    margin-top: 2vh;
    margin-right: 2vw;
    margin-bottom: 2vh;
    width:12vw;
    height: 40vh;
}
.l2{
    background-color: #FCCE73;
    margin-left: 10vw;
    margin-top: 2vh;
    margin-right: 2vw;
    margin-bottom: 2vh;
    width:12vw;
    height: 40vh;
}
.r1{
    width:12vw;
    height: 40vh;
}